<!--
  #%L
  Over-the-air deployment webapp
  %%
  Copyright (C) 2012 SAP AG
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Over-The-Air Deployment Web Application</display-name>
    <servlet>
        <servlet-name>otaHtmlService</servlet-name>
        <servlet-class>com.sap.prd.mobile.ios.ota.webapp.OtaHtmlService</servlet-class>
		<init-param>
			<param-name>htmlTemplatePath</param-name>
			<param-value>template.html</param-value>
		</init-param>
    </servlet>
    <servlet>
        <servlet-name>otaPlistService</servlet-name>
        <servlet-class>com.sap.prd.mobile.ios.ota.webapp.OtaPlistService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>otaHtmlService</servlet-name>
        <url-pattern>/HTML/*</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>otaPlistService</servlet-name>
        <url-pattern>/PLIST/*</url-pattern>
    </servlet-mapping>  
</web-app>
